.contact{
    @include Center();
    justify-content: center;
    flex-direction: column;
    padding: 7%;
    .contact-text{
        @include Center();
        justify-content: center;
        flex-direction: column;
        h2{
            font-size: 48px;
            font-weight: 400;
        }
        h4{
            margin-top: 30px;
            font-size: 28px;
            font-weight: 400;
            line-height: 40px;
            max-width: 60%;
            text-align: center;
        }
    }
}

.us{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0% 5%;
    .cnt{
        border: 1px solid #E8E8E8;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 50px;
        h3{
            text-align: center;
            font-size: 20px ;
            font-weight: 700 ;
            margin-bottom: 40px;
        }
        input{
            margin-bottom: 40px;
            border-radius: 35px;
            border: 1px solid #E8E8E8 ;
            background-color: #E8E8E8;
            padding: 15px 166px 15px 32px;
        }:focus{
            outline: none;
        }
        textarea{
            border-radius: 39px;
            border: 1px solid #E8E8E8 ;
            background-color: #E8E8E8;
            padding: 15px 166px 15px 32px;
            resize: none;
            margin-bottom: 40px;
        }:focus{
            outline: none;
        }
        button{
            width: 145px;
        }
    }

    .map{
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        .location{
            display: flex;
            align-items: center;

            .loc{
                text-align: center;
                margin-right: 30px;
                i{
                    font-size: 30px;
                    text-align: center;
                    color: #2091F9;
                }
                h5{
                    font-size: 16px;
                    font-weight: 400;;
                }
                .address{
                    text-align: center;
                }
            }
            
        }
        img{
            margin: 75px;
        }
        .loc-link{
            i{
                font-size: 30px;
                text-align: center;
                color: #2091F9;
                margin-right: 10px;
            }
        }
    }
}

@media only screen and (max-width: 576px){
    .us{
        .cnt{
            width: 380px;
        }
        flex-direction: column-reverse;
        .location{
            flex-direction: column;
            text-align: start;
        }
    }
    .map{
        .location{
            align-items: center;
            h5{
                width: 300px;
            }
        }
        img{
            width: 350px;
        }
    }
}